.navbar-header{
    background-color: $primary;
}
.search-area{
    border-radius: 20px;
}

.search-area, .search-area input {
    background-color: $search;
    border: none;
    color: $primary;
    width: 100%;
}

.search-area input::placeholder {
    color: $secondary;
}

.search-area i{
    color: $primary;
}

.search-area input:focus {
    outline: none;
}

.navbar {
    padding: 5px 0 1.3rem 0;
}

.nav-item a {
    text-decoration: none;;
}

.navbar .nav-item .nav-link {
    color: $search;
    padding-bottom: 1.2rem;
    font-weight: 500;
    font-size: 14px;
}

.navbar .nav-item .nav-link:hover {
    color: $search;
    border-bottom: solid 3px $search;
    transition: .3s;
}

@media (max-width: 768px){
    .navbar-nav{
        padding: 24px 0;
        gap: 15px;
    }
    .navbar-nav li, .nav-item{
        border-bottom: solid 1px $search;
        width: 100%;
        padding-bottom: .3rem;
    }

    .navbar .nav-item .nav-link {
        color: $search;
        
    }
}