.navbar-header{
    background-color: $primary;
}
.search-area{
    border-radius: 20px;
}

.search-area, .search-area input {
    background-color: $search;
    border: none;
    color: $primary;
    width: 100%;
}

.search-area input::placeholder {
    color: $secondary;
}

.search-area i{
    color: $primary;
}

.search-area input:focus {
    outline: none;
}